:root {
    --primaryCol: #b1b49c;
    --variationprimaryCol: #c5c9b0;
    --accentCol: #d3daa4;
    --secondaryCol: #d2d6bb;
    --variationsecondaryCol: #c0c4ad;
    --lightgrey: #dad0c3;
    --middlegrey: #8e9194;
    --darkgrey: #443e36;
    --variationdarkgrey: #3d372f;
    --lightorange: rgb(216, 190, 155);
    }
    body {
    margin: 0;
    background-color: var(--middlegrey);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
      .wrapper {
    display: grid;
    grid-template-columns: 2% 32% 32% 32% 2%;
    grid-template-rows: 2.25% 10% 0.235% 2.35% 0.235% 1% 8.25% 3.5% 7.22% 7.12% 67% 6.9% 4.5%;
    grid-template-areas: "top top top top top" 
                        "upperlside banner banner banner upperrside"
                        "banner2 banner2 banner2 banner2 banner2"
                        "header header header header header"
                        "banner3 banner3 banner3 banner3 banner3"
                        "lside pages pages pages rside"
                        "lside caption caption caption rside"
                        "lside paragraph1 paragraph1 paragraph1 rside"
                        "lside part1 part2 part3 rside"
                        "lside part4 part5 part6 rside"
                        "lside paragraph2 paragraph2 paragraph2 rside"
                        "lside paragraph3 paragraph3 paragraph3 rside"
                        "footer footer footer footer footer"
       }
    .top{
    grid-area: top;
    background-color: var(--darkgrey);
    }
    .logo {
    height: 95px;
    padding-left: 30px;
    }
    .logo:hover {
    transform: scale(1.3);
    transition: .5s;
    }
    .top pre {
    color: var(--lightgrey);
    font-size: 14px;
    text-align: center;
    padding-right: 15px;
    padding-top: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    }
    .leftside {
    background-color: lightgrey;
    color: lightgrey;
    grid-area: lside;
    border-top: 2px solid var(--darkgrey);
    }
    .rightside {
    background-color: lightgrey;
    color: lightgrey;
    grid-area: rside;
    border-top: 2px solid var(--darkgrey);
    }
    .upperleftside {
    background-color: lightgrey;
    color: lightgrey;
    grid-area: upperlside;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid var(--darkgrey);
    }
    .upperrightside {
    background-color: lightgrey;
    color: lightgrey;
    grid-area: upperrside;
    border-bottom: 2px solid var(--darkgrey);
    }
    .banner {
    grid-area: banner;
    background-image: url('../Images/bannercat3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 90%; 
    border-bottom: 2px solid var(--darkgrey);
    border-left: 2px solid var(--middlegrey);
    border-right: 2px solid var(--middlegrey);
    padding-left: 1%;
    padding-right: 1%;
    }
    .banner2 {
    background-color: #c9cf9d;
    grid-area: banner2;
    padding: 0;
    font-size:x-small;
    }
    .banner3 {
    background-color: #e3ebb3;
    grid-area: banner3;
    padding: 0;
    font-size:x-small;
    }
    #header {
    background-color: var(--accentCol);
    grid-area: header;
    place-content: center;
    border-width: 10px;
    border-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .pages {
    grid-area: pages;
    height: 35px;
    background-color: var(--darkgrey);
    border-bottom: 2px solid var(--middlegrey);
    border-left: 2px solid var(--middlegrey);
    border-right: 2px solid var(--middlegrey);
    display : flex;
    justify-content: space-evenly;
    }
    .pages h1 {
    color:var(--lightgrey);
    font-size: 15px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    height: 20px;
    font-family:Arial, Helvetica, sans-serif;
    }
    /*link*/
    a:link {
    color: var(--lightgrey);
    text-decoration: none;
    }
    /*hover over link*/
    a:hover {
    text-decoration: underline;
    color: rgb(236, 236, 213);
    }
    /*link has been visited*/
    a:visited {
    text-decoration: none;
    color: var(--lightgrey);
    }
    .caption {
    grid-area: caption;
    background-color: var(--lightgrey);
    border-right: 2px solid var(--middlegrey);
    border-left: 2px solid var(--middlegrey);
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    line-height: 160%;
    font-style: oblique;
    padding-left: 35px;
    padding-right: 35px;
    }
    .underline {
    height: 40px;
    width: 500px;
    object-fit: fill;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 20px;
    }
    #paragraph1 {
    grid-area: paragraph1;
    background-color: var(--secondaryCol);
    text-align: center;
    border-right: 2px solid var(--middlegrey);
    border-left: 2px solid var(--middlegrey);
    }
    #paragraph1 p {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    }
    #paragraph1 h1{
    font-size: large;
    margin-bottom: 0px;
    text-decoration: underline;
    }
    #paragraph2 {
    grid-area: paragraph2;
    background-color: var(--secondaryCol);
    border-right: 2px solid var(--middlegrey);
    border-left: 2px solid var(--middlegrey);
    }
    #paragraph2 h1{
    font-size: large;
    padding-top: 7px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: underline;
    }
    #paragraph2 p {
    margin-top: 0;
    padding-left: 25px;
    text-align: center;
    }
    .list1{
    float: left;
    margin-left: 25px;
    margin-top: 0;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 535px;
    background-color: var(--variationprimaryCol); 
    border: 2px solid var(--primaryCol);
    }
    .section1{
    float: left;
    width: 630px;
    }
    .section2{
    float: right;
    width: 630px;
    margin-right: 12.5px;
    }
    #paragraph2 h2 {
    margin-top: 0;
    line-height: 140%;
    font-weight: normal;
    font-size: medium;
    margin-right: 25px;
    margin-bottom: 54px;
    }
    #paragraph2 h3 {
    margin-top: 0;
    color: #3a2b1e;
    background-color: #c0c4ac;
    width: 623px;
    font-weight: bold;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
    line-height: 20px;
    margin-right: 25px;
    margin-bottom: 3px;
    padding-bottom: 0px;
    padding-left: 25px;
    }
    #paragraph2 h6 {
    margin-top: 0;
    color: #302216;
    background-color: #c0c4ac;
    width: 618px;
    font-weight: bold;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
    line-height: 20px;
    margin-right: 25px;
    margin-bottom: 3px;
    padding-bottom: 0px;
    padding-left: 25px;
    }
    #paragraph2 h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: medium;
    margin-right: 25px;
    padding-left: 25px;
    }
    #paragraph2 h5{
    padding-left: 25px;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    text-align: center;
    text-decoration: underline;
    border-bottom: 1.5px solid rgb(148, 142, 142);
    border-top: 2px solid rgb(148, 142, 142);
    background-color: #b5b8a5;
    color: rgb(26, 20, 15);
    }
    .list3 {
    list-style-type: lower-alpha
    }
    ol li {
    padding-left: 15px;
    }
    table, td, th{
    border: 1px solid black;
    }
    th {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
    text-align: left;
    }
    td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    }
    .part1 {
    grid-area: part1;
    background-color: var(--variationprimaryCol);
    border: 4px solid var(--primaryCol);
    }
    .part1 h1{
    font-size: large;
    float: right;
    padding-top: 6px;
    margin-right: 22%;
    }
    .part1 h2{
    font-size: medium;
    position: absolute;
    left: 20%;
    top: 163.5%;
    color: var(--darkgrey); 
    }
    table.table1 {
    position: absolute;
    border-collapse: collapse;
    left: 15.1%;
    top: 169%;
    padding-right: 15px;
    width: 18.25%;
    }
    #part1img1 {
    height: 250px;
    width: 167px;
    object-fit: cover;
    position: absolute;
    left: 2.3%;
    top: 159.5%;
    z-index: 2;
    }
    .part1img2 {
    height: 250px;
    width: 167px;
    object-fit: cover;
    position: absolute;
    left: 2.3%;
    z-index: 1;
    }
    #closeinfo1 {
    position: absolute;
    left: 31.5%;
    top: 160%;
    z-index: 4;
    font-weight: bold;
    opacity: 0%;
    }
    .part2 {
    grid-area: part2;
    background-color: var(--variationsecondaryCol);
    border-top: 4px solid var(--primaryCol);
    border-bottom: 4px solid var(--primaryCol);
    border-right: 4px solid var(--primaryCol);
    }
    .part2 h1{
    font-size: large;
    float: right;
    padding-top: 6px;
    margin-right: 22%;
    }
    .part2 h2{
    font-size: medium;
    position: absolute;
    left: 51.25%;
    top: 163.5%;
    color: var(--darkgrey); 
    }
    table.table2 {
    position: absolute;
    border-collapse: collapse;
    left: 47%;
    top: 169%;
    padding-right: 15px;
    width: 18.25%;
    }
    #part2img1 {
    height: 250px;
    width: 167px;
    object-fit: cover;
    position: absolute;
    left: 34%;
    top: 159.5%;
    z-index: 1;
    opacity: 100%;
    }
    .part2img2 {
    height: 250px;
    width: 167px;
    object-fit: cover;
    position: absolute; 
    left: 34%;
    z-index: 0;
    }
    #closeinfo2 {
    position: absolute;
    left: 63.5%;
    top: 160%;
    z-index: 4;
    font-weight: bold;
    opacity: 0%;
    }
    .part3 {
    grid-area: part3;
    background-color: var(--variationprimaryCol);
    border: 4px solid var(--primaryCol);
    }
    .part3 h1{
    font-size: large;
    float: right;
    padding-top: 6px;
    margin-right: 28%;
    }
    .part3 h2{
    font-size: medium;
    position: absolute;
    right: 8%;
    top: 163.5%;
    color: var(--darkgrey); 
    }
    table.table3 {
    position: absolute;
    border-collapse: collapse;
    right: 2.85%;
    top: 169%;
    width: 18.25%;
    }
    #part3img1 {
    height: 250px;
    width: 167px;
    object-fit: cover;
    position: absolute;
    left: 66%;
    top: 159.5%;
    z-index: 1;
    opacity: 100%;
    }
    .part3img2 {
    height: 250px;
    width: 167px;
    object-fit: cover;
    position: absolute; 
    left: 66%;
    z-index: 0;
    }
    #closeinfo3 {
    position: absolute;
    right: 4%;
    top: 160%;
    z-index: 4;
    font-weight: bold;
    opacity: 0%;
    }
    .part4 {
    grid-area: part4;
    background-color: var(--variationsecondaryCol);
    border-bottom: 4px solid var(--primaryCol);
    border-left: 4px solid var(--primaryCol);
    border-right: 4px solid var(--primaryCol);
    }
    .part4 h1{
    font-size: large;
    float: right;
    padding-top: 6px;
    margin-right: 27%;
    }
    .part4 h2{
    font-size: medium;
    position: absolute;
    left: 19%;
    top: 204%;
    color: var(--darkgrey); 
    }
    table.table4 {
    position: absolute;
    border-collapse: collapse;
    left: 15.1%;
    top: 209.5%;
    padding-right: 15px;
    width: 18.25%;
    }
    #part4img1 {
    height: 250px;
    width: 167px;
    object-fit: cover;
    position: absolute;
    left: 2.3%;
    top: 200.2%;
    z-index: 2;
    }
    #closeinfo4 {
    position: absolute;
    left: 31.5%;
    top: 201%;
    z-index: 4;
    font-weight: bold;
    opacity: 0%;
    }
    .part5 {
    grid-area: part5;
    background-color: var(--variationprimaryCol);
    border-bottom: 4px solid var(--primaryCol);
    border-right: 4px solid var(--primaryCol);
    }
    .part5 h1{
    font-size: large;
    float: right;
    padding-top: 6px;
    margin-right: 25%;
    }
    .part5 h2{
    font-size: medium;
    position: absolute;
    left: 52%;
    top: 204%;
    color: var(--darkgrey); 
    }
    table.table5 {
    position: absolute;
    border-collapse: collapse;
    left: 47%;
    top: 209.5%;
    padding-right: 15px;
    width: 18.25%;
    }
    #part5img1 {
    height: 250px;
    width: 167px;
    object-fit: cover;
    position: absolute;
    left: 34%;
    top: 200.2%;
    z-index: 2;
    }
    #closeinfo5 {
    position: absolute;
    left: 63.4%;
    top: 201%;
    z-index: 4;
    font-weight: bold;
    opacity: 0%;
    }
    .part6 {
    grid-area: part6;
    background-color: var(--variationsecondaryCol);
    border-bottom: 4px solid var(--primaryCol);
    border-right: 4px solid var(--primaryCol);
    }
    .part6 h1{
    font-size: large;
    float: right;
    padding-top: 6px;
    margin-right: 20%;
    }
    .part6 h2{
    font-size: medium;
    position: absolute;
    right: 8%;
    top: 204%;
    color: var(--darkgrey); 
    }
    table.table6 {
    position: absolute;
    border-collapse: collapse;
    right: 2.85%;
    top: 209.5%;
    padding-right: 15px;
    width: 18.25%;
    }
    #part6img1 {
    height: 250px;
    width: 167px;
    object-fit: cover;
    position: absolute;
    right: 21.6%;
    top: 200.2%;
    z-index: 2;
    }
    #closeinfo6 {
    position: absolute;
    right: 4%;
    top: 201%;
    z-index: 4;
    font-weight: bold;
    opacity: 0%;
    }
    #info1 {
    font-size: 14px;
    background-color: var(--lightgrey);
    height: 250px;
    width: 260px;
    position: absolute;
    left: 14.55%;
    top: 159.5%;
    z-index: 0;
    visibility: hidden;
    overflow: auto;
    }
    #info1 p {
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 5px;
    }
    #info2 {
    font-size: 14px;
    background-color: var(--lightgrey);
    height: 250px;
    width: 260px;
    position: absolute;
    left: 46.5%;
    top: 159.5%;
    z-index: 0;
    visibility: hidden;
    overflow: auto;
    }
    #info2 p {
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 5px;
    }
    #info3 {
    font-size: 14px;
    background-color: var(--lightgrey);
    height: 250px;
    width: 260px;
    position: absolute;
    right: 2.3%;
    top: 159.5%;
    z-index: 0;
    overflow: auto;
    visibility: hidden;
    }
    #info3 pre {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 20px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    }
    #info4 {
    font-size: 14px;
    background-color: var(--lightgrey);
    height: 250px;
    width: 260px;
    position: absolute;
    left: 14.5%;
    top: 200.2%;
    z-index: 0;
    visibility: hidden;
    overflow: auto;
    }
    #info4 p {
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 5px;
    }
    #info5 {
    font-size: 14px;
    background-color: var(--lightgrey);
    height: 250px;
    width: 260px;
    position: absolute;
    left: 46.5%;
    top: 200.2%;
    z-index: 0;
    visibility: hidden;
    overflow: auto;
    }
    #info5 p {
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 5px;
    }
    #info6 {
    font-size: 14px;
    background-color: var(--lightgrey);
    height: 250px;
    width: 260px;
    position: absolute;
    right: 2.3%;
    top: 200.2%;
    z-index: 0;
    visibility: hidden;
    overflow: auto;
    }
    #info6 p {
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 5px;
    }
    #paragraph3 {
    grid-area: paragraph3;
    background-color: var(--lightgrey);
    border-left: 2px solid var(--middlegrey);
    border-right: 2px solid var(--middlegrey);
    }
    #paragraph3 h1{
    font-size: large;
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: underline;
    border-top: 2px solid rgb(148, 142, 142);
    }
    #paragraph3 p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    }
    .footer {
    padding-left: 30px;
    grid-area: footer;
    background-color: var(--darkgrey);
    color: var(--accentCol);
    margin-bottom: 0%;
    padding-top: 10px;
    line-height: 10px;
    border-top: 3px solid var(--middlegrey);
    }
    .footer p {
    padding: 0px;
    color: var(--lightgrey);
    text-align: center;
    line-height: 35%;
    }
    .footer ul {
    font-weight: bold;
    display : flex;
    flex-direction: row;
    list-style: none;
    margin:0;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
    }
    #copyright {
    padding-top: 1px;
    padding-right: 15px;
    text-align: right;
    color: var(--primaryCol);
    font-size: small;
    font-weight: bold;
    }
    .vl {
    border-left: 2px solid var(--middlegrey);
    height: 1980px;
    position: absolute;
    left: 50%;
    }
    #sidebar {
    width: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding-top: 130px;
    padding-bottom: 130px;
    right: 0%;
    top: 91.75%;
    text-align: center;
    color: var(--lightgrey);
    background-color: var(--darkgrey);
    border: 2px solid rgb(105, 85, 58);
    z-index: 2;
    }
    #sidebarinfo {
    width: 100px;
    height: 277px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0%;
    top: 91.75%;
    background-color: var(--lightorange);
    border: 2px solid rgb(206, 181, 149);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    visibility: hidden;
    }
    #nav {
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 5px;
    text-align: center;
    }
    #closesidebar{
    position: absolute;
    right: 0.75%;
    top: 93%;
    color: var(--darkgrey);
    z-index: 4;
    font-weight: bold;
    opacity: 0%;
    }
    #sidebarinfo1 {
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 2px;
    }
    #sidebarinfo2 {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 2px;
    }
    #sidebarinfo3 {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 2px;
    }
    #sidebarinfo4 {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 2px;
    }
    button {
    background-color: rgb(235, 212, 182);
    border: 1px solid rgb(202, 172, 132);
    box-shadow: 0 2px 4px 0 rgba(114, 95, 69, 0.563), 0 3px 10px 0 rgba(114, 89, 56, 0.378);
    border-radius: 5px;
    height: 45px;
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }   
    /*link*/
    a.link2 {
    text-decoration: underline;
    }
    /*hover over link*/
    a.link2:hover {
    text-decoration: underline;
    color: rgb(98, 146, 64);
    }
    /*link has been visited*/
    a.link2:visited {
    text-decoration: underline;
    color: rgb(98, 122, 82);
    }